

.color{
  width: 8rem;
  height: 8rem;
  background-color: aqua;
  border-radius: 15px;
  cursor: pointer;
  -webkit-box-shadow: -3px 1px 15px 5px rgba(0,0,0,0.06);
  box-shadow: -3px 1px 15px 5px rgba(0,0,0,0.06);
}

@media(max-width: 480px){
  .color{
    width: 15rem;
    height: 15rem;
  }
}
