.copied{
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.9);
  color: white;
  text-align: center;
  margin:0;
  padding: 0;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2{
    font-family: Helvetica;
  }
}

////Mobile short-lg optimization
//@media(max-width: 480px){
//  .copied{
//    position: fixed;
//  }
//}
//@media(max-width: 321px){
//  .copied{
//    positio: hidden;
//  }
//}
