.app{
  background-color: #FFE156;
  min-height: 100vh;
  min-width: 100vw;
}

body{
  margin:0;
  padding: 0;
}

h1{
  font-family: Helvetica, Arial;
  text-align: center;
  margin:0;
  padding-top: 5rem;
}
